.App {
  text-align: center;
  height: 100%;
  display: flex;
  /* flex-direction: column;요소 위에서 아래로 */
  flex-direction: column;
}

.App button{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin:5px;
}
.App input{
  height: 50px;
  width: 300px;
  border-radius: 10px;
  margin:5px;
}

.Create{
  background-color: rgb(59, 58, 58);
  color: white;
  width: 100vw;
}

.Update{
  background-color: rgb(59, 58, 58);
  width: 100vw;
  color: white;
}

.Delete{
  background-color: rgb(59, 58, 58);
  width: 100vw;
  color: white;
}

.Read{
  background-color: rgb(59, 58, 58);
  width: 100vw;
  color: white;
}

.MenuBar{
  background-color: gray;
  width: 100vw;
  color: white;
}
