.AccountBar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: white;
    border-right : none;
    padding: 10px 14px;
}



.myinfo,
.mypost,
.change-pass,
.favorite,
.secession{

    width: 100%;
    height: 10%;
    border: none;
    background-color: white;
    border-radius: 5px;
    
    
}

.myinfo:hover,
.mypost:hover,
.change-pass:hover,
.favorite:hover,
.secession:hover{

    background: #dcdcdc;

}


.account-bar-list{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-left: 1px solid grey;
    margin-top: 5px;
    padding: 10px;
}

.account-bar-list button {

    font-size: 15px;
    font-weight: bold;
    color: grey;
}

.account-bar-list button:hover{

    border-radius: 5px;
    background-color: #DCEBFF;
    color: 	#A0A0FF;
}