.Account{
    width: 70vw;
    height: 93vh;
    /* height: auto; */

    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color: #E8F5FF; */
    margin-top: 7.5svh;
}

