.MyBoard{
    height: auto;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.MyboardTable{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8F5FF;
}
