.ViewBoard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    margin-top: 7.5svh;
    box-shadow: 1px 0 3px gray,-1px 0 3px gray;
}
.ViewBoardBar{
    height: 100%;
    width: 20%;
    padding: 0.5%;
}
.ViewBoardTable{
    height: auto;
    width: 80%;
    flex-direction: column;
    box-shadow: -3.5px 0px 3px -3px gray;
}
.viewOneTitle{
    box-shadow: 0px 2.8px 3px -2px rgb(104, 104, 104);
    color: transparent;
    color: black; 
    z-index: 1;
    font-size: 50px;
    padding: 3% 0;
    font-weight: lighter;
    background-color:#A5D8FA;


}
/*사진 위치에 관한 설정*/
.test{
    margin: auto;
    width: auto;
    max-width: 100% ;
    min-width: 10px;
    max-height: 900px;
    display: grid;
    place-items: center;

  
}

.viewOneTitle .viewTitleSmallData{
    /* border: 1px solid black; */
    color: black;
    font-size: 15px;
    /* font-weight: 800; */
    margin-top: 8px;
    opacity: 0.5;
    width: auto;
    text-shadow: none;
}

.viewContentAll{
    width: 70%;
    /* margin: auto; */
    text-align: left;
    padding: 10%;
    margin: auto;
    padding-top: 10%; 
    /* background-color:white ; */
}
hr{
    box-shadow: 0px 20px 5px -2px gray;
}

/* data가 넘어오지 않았을 경우의 css */

.WrongViewBoard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70vw;
    margin-top: 7.5svh;
    background-color: #E8F5FF;
}
.WrongViewBoardBar{
    height: 100%;
    width: 20%;
    background-color:   #DCEBFF;
  }
.WrongViewBoardTable{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #E8F5FF;
}




.ViewBoardBar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: auto;
    background-color: white;
    border-right : none;
    padding: 10px 14px;
}



.viewbutton{
    width: 100%;
    height: 3%;
    border-radius: 5px;   
    font-size: 15px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    border: 1px solid #A5D8FA;
    margin: 10% auto;
    padding: 5%;
    box-shadow: 1px 1px 3px gray;
    background-color: #A5D8FA;
    color: 	#4e4ed6;
}
#favButton{
    width: 100%;
    height: 3%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    border: 1px solid #A5D8FA;
    margin: 10% auto;
    padding: 5%;
    box-shadow: 1px 1px 3px gray;
    background-color: #A5D8FA;
    color: 	#4e4ed6;
}

#favButton:hover{
    cursor: pointer;
    background: #dcdcdc;

}


.vviewbutton:hover{
    border-radius: 5px;
    background-color: white;

}


.viewBoradBarSmall{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
    padding: 10px;
}


.MyBoard{
    height: auto;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.MyboardTable{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8F5FF;
}
