.WritingBoard{
    min-height: 100vh;
    min-width: 70vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7.5vh;
}
.WritingH2-div{
    text-align: left;
    border-bottom: 1px solid rgb(124, 123, 123, 0.5);
}
.WritingH2{
    font-size: 25px;
}
.saveButton{
    width: 50px;
    height: 30px;
    background-color: sandybrown;
}

.ckeditor{
    width: 60%;
    margin-bottom: 5px;
    margin-top: 10px;
}
.ck-editor__editable {
    height: 600px;

}


.WritingTitle{
    width: 99%;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 20px;
    border: 1px solid rgba(150, 148, 148, 0.5);
}
.WritingTitle:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
  }
