.Hboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  /* height: auto; */
  width: 70vw;
  margin-top: 7.5svh;
  /* background-color:white; */
  background-color: #E8F5FF;
}
.HboardBar{
  height: 100%;
  width: 20%;
  background-color:	#DCEBFF;
}
.HboardInTable{
  margin-top: 5px;
}
.HboardTable{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* background-color: #E8F5FF; */
}
.posterimg{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.oneBoard{
  position: relative;
  border-radius: 5%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.oneBoard:hover{
  filter: brightness(0.5);  
  transform: scale(1.15);
  box-shadow: 0 14px 28px rgba(15, 124, 111, 0.25), 0 10px 10px rgba(74, 12, 12, 0.22);
}

.oneBoard:hover::before {
  filter: brightness(1);  
  content: attr(data-title); /* 글씨 내용을 data-title 속성 값으로 설정*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black; /* 배경색과 투명도 설정*/ 
  color: yellow;
  width: 80%;
  padding: 5px;
  border-radius: 8px;
}
button{
  background-color: black;
  color: white;
  border-radius: 5px;
  border-color: black;
}


.buttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

.prev{
  width: 50px;
  height: 30px;
  margin-right: 10px;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
  color: black;
}

.next{
  width: 50px;
  height: 30px;
  margin-left: 10px;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 10px;
  color: black;
}